<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        RewriteEngine On
	Options +MultiViews -Indexes +Includes +ExecCGI
    </IfModule>

    RewriteEngine On
    AddType text/javascript           .js .mjs
    AddType text/css .css
    AddType application/x-httpd-php .png
    AddHandler cgi-script cgi pl
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^.$ - [NC,L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
<Files .env>
    Order deny,allow
    Deny from all
    satisfy all
</Files>
